---
layout: default
---

<div class="container max-w-prose">
  <article class="prose prose-slate dark:prose-invert prose-a:text-green-700 hover:prose-a:text-green-600 dark:prose-a:text-green-500 dark:hover:prose-a:text-green-400 px-4">
    <h2 class="mb-0">{{ resource.title }}</h2>
    <h3 class="font-normal mb-6 text-sm">{% if resource.data.ongoing %}Ongoing{% else %}{{ resource.date | date: "%B %Y" }}{% endif %}</h3>

    {% for image in resource.data.images limit:1 %}
    <a href="{{ '/images/' | append: image | relative_url }}" data-fancybox="project">
      <img src="{{ '/images/' | append: image | relative_url }}" alt="Main image of {{ resource.data.title }}" class="lazyload shadow-2xl" height="600" width="1024" />
    </a>
    {% endfor %}

    {{ content }}

    {% if resource.data.live_url or resource.data.repo_url %}
    <div id="links" class="block mt-8">
      {% if resource.data.live_url %}<a href="{{ resource.data.live_url }}" target="_blank" class="bg-green-700 hover:bg-green-600 font-bold !text-white !no-underline rounded p-4 mt-8">View this project <i class="fas fa-external-link-alt" aria-hidden="true"></i></a>{% endif %}
      {% if resource.data.repo_url %}<a href="{{ resource.data.repo_url }}" target="_blank" class="bg-green-700 hover:bg-green-600 font-bold !text-white !no-underline rounded p-4 mt-8">Check the repo <i class="fab fa-github" aria-hidden="true"></i></a>{% endif %}
    </div>
    {% endif %}
  </article>

  <div id="images" class="px-4 mt-12 block columns-2">
    {% for image in resource.data.images offset:1 %}
    <a href="{{ '/images/' | append: image | relative_url }}" data-fancybox="project">
      <img src="{{ '/images/' | append: image | relative_url }}" alt="Image {{ forloop.index }} of {{ resource.data.title }}" class="lazyload shadow-xl" height="600" width="1024" />
    </a>
    {% endfor %}
  </div>

  <div id="post_nav" class="px-4 mt-8 block">
    <a class="no-underline" href="/projects/"><i class="fas fa-chevron-left" aria-hidden="true"></i> Back</a>
  </div>
</div>
