<footer class="container max-w-prose mt-6 pt-6 mb-8 px-4" data-controller="theme" data-turbo-permanent>
  <div class="flex justify-center gap-4">
    <div class="flex-grow text-slate-600 dark:text-slate-400">
      <span>&copy; Brian Coia</span>
    </div>
    <a href="mailto:{{ metadata.email }}"><i class="fas fa-fw fa-envelope" alt="Email"></i></a>
    {% if metadata.twitter %}<a href="https://twitter.com/{{ metadata.twitter }}"><i class="fab fa-fw fa-twitter" alt="Twitter @{{ metadata.twitter }}"></i></a>{% endif %}
    {% if metadata.mastodon %}<a href="https://mastodon.com/{{ metadata.mastodon }}"><i class="fab fa-fw fa-mastodon" alt="Mastodon @{{ metadata.mastodon }}"></i></a>{% endif %}
    {% if metadata.github %}<a href="https://github.com/{{ metadata.github }}"><i class="fab fa-fw fa-github" alt="GitHub user {{ metadata.github }}"></i></a>{% endif %}
    {% if metadata.linkedin %}<a href="https://linkedin.com/in/{{ metadata.linkedin }}"><i class="fab fa-fw fa-linkedin" alt="LinkedIn user {{ metadata.linkedin }}"></i></a>{% endif %}
  </div>
  <div class="flex justify-center gap-4 text-sm">
    <div class="flex-grow text-slate-500 text-sm">
      <a class="!text-slate-500 !hover:text-slate-400 hover:underline" href="https://github.com/bcoia/briancoia-bridgetown/commits/master">Last updated {{ "now" | date: "%b %d, %Y" }}</a>
    </div>
    <button class="focus:outline-none text-green-700 hover:text-green-600 dark:text-green-500 dark:hover:text-green-400" data-action="click->theme#toggle"><span class="inline dark:hidden"><span class="hidden md:inline">Toggle </span>Dark Mode <i class="fas fa-fw fa-moon"></i></span><span class="hidden dark:inline"><span class="hidden md:inline">Toggle </span>Light Mode <i class="fas fa-fw fa-sun"></i></span></button>
  </div>
</footer>
