<li class="project relative">
  {% if project.data.thumb %}
  <img src="{{ '/images/' | append: project.data.thumb | relative_url }}" class="lazyload absolute right-2 top-2 w-20 h-20 shadow rounded pointer-events-none" aria-hidden="true" />
  {% endif %}
  <a href="{{ project.relative_url }}" class="project-link flex flex-col pt-2 pb-2 pr-24 border-t border-b border-slate-300 dark:border-slate-700 hover:bg-slate-300 dark:hover:bg-slate-700 mt-[-1px]">
    <h3 class="text-slate-800 dark:text-slate-200 text-2xl">{{ project.data.title }}</h3>
    <p class="text-slate-600 dark:text-slate-400">{{ project.data.description }}</p>
    <div class="tag-container mt-1">
      {% for tag in project.tags %}
      {{ tag | tag_badge }}
      {% endfor %}
    </div>
  </a>
</li>
